<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.ManagerDao">
     <select id="selectByNameAndPwd" resultType="Manager">
         select * from t_manager where mgr_name =#{mgrName} and mgr_pwd =#{mgrPwd}
     </select>
    <insert id="insertMgr" >
        insert into t_manager(mgr_id,mgr_name,mgr_pwd,salt,status) values(#{magId,mgrName,mgrPwd,salt,status})
    </insert>
</mapper>
